language: ruby

bundler_args: --without development

#memcache is allowed to fail because of strange error - on travis instance service is running, but ruby can not connect ther
matrix:
  allow_failures:
    - env: CACHE_STORE=memcached

services:
  - memcached
  - redis

rvm:
  - 1.9.3

gemfile:
  - gemfiles/Gemfile-rails.3.1.x
  - gemfiles/Gemfile-rails.3.2.x

env:
  - CACHE_STORE=redis
  - CACHE_STORE=memcached
  - CACHE_STORE=file_store

