language: ruby

before_install:
  - mkdir -p tmp/cache
  - mkdir -p spec/internal/db
  - memcached -p 11212 &

services:
  - redis-server

rvm:
  - 1.9.3

gemfile:
  - gemfiles/Gemfile-rails.3.1.x
  - gemfiles/Gemfile-rails.3.2.x

env:
  - CACHE_STORE=redis
  - CACHE_STORE=memcached
  - CACHE_STORE=file_store
  - CACHE_STORE=memory_store
  - CACHE_STORE=dalli
